.todo {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid lightgray;
}
.btnInput{
    width: 65px;
}
.container_list {
    width: 350px;
    margin: 0 auto;

}
.addItem {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around;
}